---
import { getCollection, render } from "astro:content";
import Label from "../../components/Label.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout
  title={entry.data.title + " | Gerben Veenhof"}
  description={entry.data.description}
>
  <h1>{entry.data.title}</h1>
  {entry.data.tags?.map((tag) => <Label>{tag}</Label>)}
  <Content />
</Layout>
