---
import { getCollection } from "astro:content";
import Label from "../../components/Label.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title + " | Gerben Veenhof"}>
  <h1>{entry.data.title}</h1>
  {entry.data.tags.map((tag) => <Label>{tag}</Label>)}
  <Content />
</Layout>
