:root {
    --template-color: #252627;
    --template-color-opposing: #FFF9FB;
    --template-color-accent: #FFC53A;
    --template-color-code-block: #555555;


    .green {
        --template-color-accent: #F6F7C4;
    }

    .cyan {
        --template-color-accent: #A1EEBD;
    }

    .orange {
        --template-color-accent: #FF90BC;
    }

    .purple {
        --template-color-accent: #AC87C5;
    }

    .blue {
        --template-color-accent: #7BD3EA;
    }

    .light {
        --template-color: #ffffff;
        --template-color-opposing: #000000;
        --template-color-code-block: #eeeeee;

        &.green {
            --template-color-accent: #036806;
        }
    
        &.cyan {
            --template-color-accent: #03616F;
        }
    
        &.orange {
            --template-color-accent: #894700;
        }
    
        &.purple {
            --template-color-accent: #9916A0;
        }
    
        &.blue {
            --template-color-accent: #0D4654;
        }
    }
}

$template-color: var(--template-color);
$template-color-opposing: var(--template-color-opposing);
$template-color-accent: var(--template-color-accent);
$template-color-accent-opposing: var(--template-color-accent-opposing);
$template-color-code-block: var(--template-color-code-block);

$template-default-font: 'GeneralSans-Regular', Verdana, Arial, sans-serif;
$template-header-font: 'GeneralSans-Bold', Arial, Helvetica, sans-serif;