:root {
    --template-color: #252627;
    --template-color-opposing: #FFF9FB;
    --template-color-accent: #FFC53A;
    --template-color-code-block: #202020;


    .green {
        --template-color-accent: #53DD6C;
    }

    .cyan {
        --template-color-accent: #00CCCA;
    }

    .orange {
        --template-color-accent: #FFC53A;
    }

    .purple {
        --template-color-accent: #BCA3F7;
    }

    .blue {
        --template-color-accent: #63D2FF;
    }

    .light {
        --template-color: #FFF9FB;
        --template-color-opposing: #000000;
        --template-color-code-block: #e6e6e6;

        &.green {
            --template-color-accent: #25603D;
        }
    
        &.cyan {
            --template-color-accent: #59544B;
        }
    
        &.orange {
            --template-color-accent: #B26700;
        }
    
        &.purple {
            --template-color-accent: #5941A9;
        }
    
        &.blue {
            --template-color-accent: #133C55;
        }
    }
}

$template-color: var(--template-color);
$template-color-opposing: var(--template-color-opposing);
$template-color-accent: var(--template-color-accent);
$template-color-accent-opposing: var(--template-color-accent-opposing);
$template-color-code-block: var(--template-color-code-block);

$template-default-font: 'GeneralSans-Regular', Verdana, Arial, sans-serif;
$template-header-font: 'GeneralSans-Bold', Arial, Helvetica, sans-serif;