---
import Button from "../components/Button.astro";
import FlexCenter from "../components/FlexCenter.astro";
import Quote from "../components/Quote.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Gerben Veenhof">
  <div class="error center-text">
    <h1>Page has not been found</h1>
    <p>But have a quote instead:</p>
    <Quote class="quote" />
    <FlexCenter>
      <Button href="/" icon="mdi:arrow-back-circle" preFetch={false}>
        Homepage
      </Button>
    </FlexCenter>
  </div>
</Layout>
