---
import Button from "../components/Button.astro";
import FlexCenter from "../components/FlexCenter.astro";
import Quote from "../components/Quote.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 | Gerben Veenhof"
  description="Oh no, this page doesn't exist. Please go to the homepage."
>
  <div class="error center-text">
    <h1>404 - Page has not been found</h1>
    <p>But have a quote instead:</p>
    <Quote />
    <FlexCenter>
      <Button href="/" icon="mdi:arrow-back-circle" nofollow={false}>
        Homepage
      </Button>
    </FlexCenter>
  </div>
</Layout>
