---
import { Icon } from "astro-icon/components";

export interface Props {
  icon?: string;
  second?: boolean;
}

const { icon = null, second = false } = Astro.props;
---

<div class="banner">
  {icon && <Icon name={icon} aria-hidden="true" aria-label="copyright" />}
  <slot />
  {
    icon && second && (
      <Icon name={icon} aria-hidden="true" aria-label="copyright" />
    )
  }
</div>

<style lang="scss">
  .banner {
    display: flex;
    background-color: $template-color-accent;
    color: $template-color;
    padding: 10px;
    margin: 0 10px;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;

    @include media(">tablet") {
      margin: 0 0 25px 0;
      gap: 25px;
      flex-direction: row;
      justify-content: space-between;
    }

    p {
      margin: 0;
      flex-grow: 1;
      padding: 0 40px;
      text-align: center;
    }

    svg {
      max-width: 50px;
    }
  }
</style>
