---
import "../styles/globals.scss";
---

<div class="flex-center">
    <slot />
</div>

<style lang="scss">
    @import "../styles/globals.scss";
    .flex-center {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media(">tablet") {
            flex-direction: row;
        }
    }
</style>
