---
export interface Props {
  href?: string;
}

const { href = "#" } = Astro.props;
---

{
  href != "#" && (
    <a class="label" href={href}>
      <slot />
    </a>
  )
}
{
  href == "#" && (
    <div class="label">
      <slot />
    </div>
  )
}

<style lang="scss">
  .label {
    margin: 0 10px 5px 0;
    padding: 3px 10px;
    border-radius: 5px;
    display: inline-flex;
    background-color: $template-color-accent;
    color: $template-color;
    font-size: 1.1rem;
    text-decoration: none;
  }
</style>
