---
import Label from "./Label.astro";

export interface Props {
  name?: string;
  labels: string[];
}

const { name, labels } = Astro.props;
---

<div class="label-collection">
  {name && <p>{name}</p>}
  <div class="label-collection-labels">
    {labels.map((label) => <Label>{label}</Label>)}
  </div>
</div>

<style lang="scss">
  .label-collection {
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    p {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 5px 15px 15px 0;
      min-width: 100px;
    }
  }
</style>
