---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/globals.scss";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
  <script is:inline>
    function randomFromArray(inputArray) {
      return inputArray[Math.floor(Math.random() * inputArray.length)];
    }

    function getRandomColor() {
      return randomFromArray([
        "var(--color-orange)",
        "var(--color-purple)",
        "var(--color-cyan)",
      ]);
    }

    function setRootStyleVariable(variable, contents) {
      const rootDocument = document.querySelector(":root");
      rootDocument.style.setProperty(variable, contents);
    }

    setRootStyleVariable("--template-color-accent", getRandomColor());
    setRootStyleVariable("--template-color-accent-opposing", getRandomColor());
  </script>
</html>
